
/* Additional imports for main styles */
@import url('styles.css');

  .container {
    text-align: center;
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
  }

  .neon-blue-bg {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    text-shadow: 0 0 10px #2bc7ff, 0 0 20px #2bc7ff, 0 0 30px #2bc7ff;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    color: #00cc88;
    margin-bottom: 1rem;
    font-weight: 400;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 2rem;
  }

  .skill {
    background-color: #211a5c;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
  }

  footer {
    text-align: center;
    padding: 1rem;
    background-color: #0d1117;
    color: white;
    margin-top: 3rem;
  }

  .section{
    border: 1px solid white;
    border-radius: 50px;
  }

  .about-extra{
    padding: 2%;
    font-size: 1.25em;
  }

  .subheading {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1.25rem;
  }

/* Super cool thing where when you click on main image, more appear below it */

  .image-wrapper {
    text-align: center;
    margin: 2rem auto;
    position: relative;
    z-index: 2;
  }
  
  .main-image {
    width: 300px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 15px #00f6ff, 0 0 25px #00e0ff inset;
    transition: transform 0.3s ease;
  }
  
  .main-image:hover {
    transform: scale(1.05);
  }
  
  .hidden-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.8s ease, opacity 0.5s ease;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 1rem;
    padding: 2%;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .hidden-images img {
    width: 35%;
    max-height: auto;
    border-radius: 10px;
    flex-shrink: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    box-shadow: 0 0 10px #ff00ff, 0 0 25px #ff00ff inset;
  }

  
  .image-wrapper.active .hidden-images {
    max-height: 1000px;
    opacity: 1;
  }
  
  .image-wrapper.active .hidden-images img {
    transform: translateY(0);
    opacity: 1;
  }
  